.thumbs-down-icon .cuff-hole,
.thumbs-up-icon .cuff-hole,
.key-icon .head-hole,
.clipboard-icon .clip-hole {
  fill: white;
}

.document-icon .lines,
.documents-icon .lines {
  opacity: 1;
  fill: #FFFFFF;
}

.folder-empty-icon .back,
.clipboard-icon .clip {
  fill: #909090;
}