.icon-thumbs-down .cuff-hole,
.icon-thumbs-up .cuff-hole,
.key .head-hole,
.clipboard .clip-hole {
  fill: white;
}

.document .lines,
.documents .lines {
  opacity: 1;
  fill: #FFFFFF;
}

.folder-empty .back {
  fill: #909090;
}